
.login-container {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #83e688;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
  }
  
  .input-field:focus {
    border-color: #5bc76f;
    box-shadow: 0 0 8px rgba(91, 199, 111, 0.6);
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background: #83e688;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
  }
  
  .btns {
    width: 100%;
    display: flex;
    font-size: 13px;
    gap: 10px;
    justify-content: center;
  }
  
  .register-btn, .resetPw-btn {
    width: 80%;
    padding: 12px;
    background: #83e688;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
  }
  
  
  .login-btn:hover {
    background: #5bc76f;
  }