.pw-reset-form {
    width: 100%;
    max-width: 700px;
    max-height: 500px; overflow: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif;
}

.pw-reset-title h2 {
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 0px 20px;
}

.pw-reset-content {
    padding: 0px 20px;
} 

.pw-reset-content div {
    display: flex;
    flex-direction: column; 
}

.pw-reset-content div input {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #fa5656; 
} 

.pw-reset-content button {
    margin-top: 20px;
    padding: 12px;
    background-color: #fa5656;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    cursor: pointer; 
    width: 100%;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    padding-right: 40px; 
}

.show-pw {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.show-pw img {
    margin-top: 22px;
    width: 25px;
    height: 30px;
}

.check-field {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 13px;
}

