.register-form {
    width: 100%;
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; 
    text-align: left;
}

.form-title h2 {
    color: #333;
    margin-bottom: 20px;
}

.email-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-field {
    width: 76%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #fa5656; 
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.email-btn {
    width: 22%;
    padding: 13px;
    margin-bottom: 10px;
    background-color: #fc8d8d; 
    color: rgb(5, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}


.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #fa5656; 
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.input-field:focus {
    border-color: #fa5656; 
    box-shadow: 0 0 8px rgba(245, 156, 156, 0.6);
}

.check-field {
    text-align: left;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background: #fa5656; 
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

#check-email-result, #check-name-result, #check-pw-result,
#check-birth-result, #check-phone-result {
    font-size: 0.8em;
    display: none;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    padding-right: 40px; 
}

.show-pw {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.show-pw img {
    width: 25px;
    height: 30px;
}

.valid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-valid {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
  }
  
  .valid-field {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .valid-btn {
    position: absolute;
    right: 10px; 
    background: transparent;
    border: none;
    font-size: 14px;
    color: #000203a1; 
    cursor: pointer;
    font-weight: bold;
  }
  
  .valid-btn:hover {
    color: #000307; 
  } 

  .time-container {
    font-size: 13px;
  }

  .resend-btn { 
    border: solid lightgrey 1px;
    border-radius: 10%;
    padding: 5px;
    margin-left: 10px;
    background-color: white; 
  }